asgiref==3.3.1
cffi==1.14.4
cryptography==3.3.1
Django==3.1.5
django-debug-toolbar==3.2
django-environ==0.4.5
idna==2.2
jeepney==0.6.0
keyring==21.8.0
keyrings.alt==4.0.2
Pillow==8.1.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.1.9
pycairo==1.20.0
pycparser==2.20
pycrypto==2.6.1
PyGObject==3.38.0
pytz==2018.4
pyxdg==0.27
reportlab==3.5.59
SecretStorage==3.3.0
six==1.10.0
sqlparse==0.4.1
