.presentation {
    .row {
        margin-top: 20px;
    }

    h1 {
        text-align: center;
    }
}

.searchForm {
    padding: 30px;
    background-color: #e9ecef;

}

.formDiv {
    margin: 30px;
}

.navLogin {
    p {
        color: white;
        margin: auto;
        display: inline-block;
        padding-right: 10px;
    }

}

#searchResults, #themesList {
    margin: 15px;
    table {
        margin: auto;
        text-align: center;
        border: 1px solid lightcoral;
        border-radius: 10px;
        tr {
            &:nth-child(even){
                background-color: whitesmoke;
            }
    
            &:nth-child(odd){
                background-color: lightgrey;
            }
        } 

    }
    th {
        padding: 5px;
        background-color: darkgrey;
        min-width: 100px;
    }
    td {
        padding: 5px;
        min-width: 100px;
    }
}

.theme-form {
    text-align: center;
    margin: 5px;

    input {
        display: inline-block;
        width: auto;
    }
    div {
        display: inline-block;
    }
}