{% extends 'partial/base.html' %}

{% block content %}
<section id="searchResults">
    <div class="container">
        <h1>Eléments sélectionnés pour impression (total : {{ shrooms|length }})</h1>
            <table>
                    <thead>
                        <tr>
                            <th class="small-col">Taxon</th>
                            <th>Genre</th>
                            <th>Espèce</th>
                            <th>Variété</th>
                            <th>Forme</th>
                            <th class="large-col">Autorité</th>
                            <th>Enlever ?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="" id="rm-form" method="POST">
                            {% csrf_token %}
                            {% for obj in shrooms %}
                            <tr>
                            <td class="small-col">{{ obj.taxon_id }}</td>
                            <td>{{ obj.genre|capfirst }}</td>
                            <td>{{ obj.espece|lower }}</td>
                            <td>{{ obj.variete }}</td>
                            <td>{{ obj.forme }}</td>
                            <td class="large-col">{{ obj.autorite }}</td>
                            <td>
                                <input type="checkbox" name="remove" value={{ obj.taxon_id }}>
                            </td>
                            {% endfor %}
                        </form>
                    </tr>
                </tbody>
            </table>
            <div class="boutons">
                <form action="{% url 'reset-impression' %}" method="post" id="resetform">{% csrf_token %}</form>
                <button type="submit" class="btn btn-info" form="resetform">Réinitialiser tous les élements</button>
                <button type="submit" class="btn btn-info" form="rm-form">Enlever les éléments selectionnés</button>
                <a href="{% url 'pdf-bulk' %}" class="btn btn-warning">Générer le pdf</a>
            </div>
        </div>
        <script>
                $(document).ready(() => {
                    $('#rm-form').on('submit', (e) => {
                        return confirm("Voulez-vous vraiment réinitialiser les éléments sélectionnés ?");
                    });
                    $('#resetform').on('submit', (e) => {
                        return confirm("Voulez-vous vraiment réinitialiser tous les éléments ?");
                    });
                });
            </script>
</section>
{% endblock %}
