{% extends 'partial/base.html' %}

{% block custom_style %}
<style>
  #changeCodeBox {
    display: none;
  }
</style>
{% endblock %}

{% block content %}
<div class="container infos">
  {% for item in others %}
    {% if item.codesyno == 0 %}
      <h1>Edition de 
          <i>{{ item.genre|capfirst }} {{ item.espece|lower }}</i>
          {% if item.variete and item.variete.strip %} var. <i>{{ item.variete|lower }}</i>{% endif %}
          {% if item.forme and item.forme.strip %} f. <i>{{ item.forme|lower }}</i>{% endif %}
           {{ item.autorite }}
      </h1>
      <ul>
    {% else %}
     <li>{{ item.genre|capfirst }} {{ item.espece|lower }}</i>
      {% if item.variete and item.variete.strip %} var. <i>{{ item.variete|lower }}</i>{% endif %}
      {% if item.forme and item.forme.strip %} f. <i>{{ item.forme|lower }}</i>{% endif %}
       {{ item.autorite }}</li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
<div class="container formDiv">
    <form class="form" method="POST" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="form-group col-3">
                <label for="{{ form.taxon.id_for_label }}">Taxon : </label>
                {{ form.taxon }}
                <small class="form-text text-muted">{{ form.taxon.errors }}</small>
            </div>
            <div class="form-group col-3">
                <label for="{{ form.codesyno.id_for_label }}">Code Synonyme : </label>
                {{ form.codesyno }}
                <small class="form-text text-muted">{{ form.codesyno.errors }}</small>
            </div>
            <div class="form-group col-6" id="changeCodeBox">
                <label for="changeCode" id="id_changeCode"></label>
                <select name="changeCode" id="changeCode" class="form-control"></select>
                </select>
            </div>
        </div>
        <div class="row">
                <div class="form-group col-3">
                  <label for="{{ form.genre.id_for_label }}">Genre : </label>
                  {{ form.genre }}
                  <small class="form-text text-muted">{{ form.genre.errors }}</small>
                </div>
                <div class="form-group col-3">
                  <label for="{{ form.espece.id_for_label }}">Espèce : </label>
                  {{ form.espece }}
                  <small class="form-text text-muted">{{ form.espece.errors }}</small>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-3">
                  <label for="{{ form.variete.id_for_label }}">Variété : </label>
                  {{ form.variete }}
                  <small class="form-text text-muted">{{ form.variete.errors }}</small>
                </div>
                <div class="form-group col-3">
                  <label for="{{ form.forme.id_for_label }}">Forme : </label>
                  {{ form.forme }}
                  <small class="form-text text-muted">{{ form.forme.errors }}</small>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-3">
                  <label for="{{ form.autorite.id_for_label }}">Autorité : </label>
                  {{ form.autorite }}
                  <small class="form-text text-muted">{{ form.autorite.errors }}</small>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-2">
                  <label for="{{ form.biblio1.id_for_label }}">Bibliographie (1) : </label>
                  {{ form.biblio1 }}
                  <small class="form-text text-muted">{{ form.biblio1.errors }}</small>
                </div>
                <div class="form-group col-2">
                  <label for="{{ form.biblio2.id_for_label }}">Bibliographie (2) : </label>
                  {{ form.biblio2 }}
                  <small class="form-text text-muted">{{ form.biblio2.errors }}</small>
                </div>
                <div class="form-group col-2">
                  <label for="{{ form.biblio3.id_for_label }}">Bibliographie (3) : </label>
                  {{ form.biblio3 }}
                  <small class="form-text text-muted">{{ form.biblio3.errors }}</small>
                </div>
              </div>
              
              <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>
{% endblock %}

{% block extra %}
<!-- Modal -->
<div class="modal fade" id="taxonModal" tabindex="-1" role="dialog" aria-labelledby="taxonModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="taxonModalLabel">Sélection d'un taxon existant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="">
                <div class="form-group">
                  <label for="prevTax">Même taxon que</label>
                  <select name="prevTax" id="prevTaxSelect" class="chosen-select">
                  </select>
                  <button id="taxLinkBtn" class="btn btn-primary">Go</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

<script>
    var state = {{ state|safe }};
    var data = {{ data|safe }};
    
    $(document).ready(() => {
      var selector = $('select[name="changeCode"]');
      var synoSelector = $('select[name="codesyno"]');
      if(state == 2) {
        synoSelector.val('1');
      }
      synoSelector.change(() => {
        $('#changeCodeBox').show();
        selector.empty();
        if(state == 0) {
          if(synoSelector.val() == "0") {
            $('#changeCodeBox').hide();
          }
          $("#id_changeCode").text("Sélectionner un nouveau nom valide :");
          for(let i = 0; i < data.length; i++) {
            let optstr = []
            if (data[i].fields.variete != "") {
              optstr = `${data[i].fields.genre} ${data[i].fields.espece} var. ${data[i].fields.variete} ${data[i].fields.autorite}`
            } else if (data[i].fields.forme != "") {
              optstr = `${data[i].fields.genre} ${data[i].fields.espece} f. ${data[i].fields.forme} ${data[i].fields.autorite}`
            } else {
              optstr = `${data[i].fields.genre} ${data[i].fields.espece} ${data[i].fields.autorite}`
            }
            selector.append(`<option value="${data[i].pk}">${optstr}</option>`);
          }
        } else {
          if(synoSelector.val() == "0") {
            $("#id_changeCode").text("Sélectionner un nouvel état pour l'ancien nom valide :");
            selector.append(`<option value="1">SYN</option>`);
            selector.append(`<option value="3">SYN USUEL</option>`);
          } else {
            $('#changeCodeBox').hide();
          }
        }
        
      });
    });
</script>
{% endblock %}