{% extends 'partial/base.html' %}
{% block content %}
<section id="themesList">
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Thème</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for theme in themes_list %}
                <tr>
                    <td>{{ theme.theme }}

                        <form action="" method="POST" id="titleform-{{theme.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="ident" value="{{ theme.id }}">
                            <input type="text" name="titre" id="titre" value="{{ theme.titre }}">
                        </form>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-secondary" form="titleform-{{theme.id}}" name="action" value="edit">Mise à jour du titre</button>
                        <form action="{% url 'themes_del' %}" method="post" id="delThemeForm-{{theme.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="ident" value="{{ theme.id }}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                <script>
                        $(document).ready(() => {
                            $('#delThemeForm-{{theme.id}}').on('submit', (e) => {
                                return confirm("Voulez-vous vraiment supprimer le theme {{theme.theme}} ({{theme.titre}}) ?");
                            });
                        });
                    </script>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="." method="post" class="theme-form">
            {% csrf_token %}
            <div class="form-group mx-sm-3 mb-2">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary mb-2" name="action" value="add">Ajouter</button>
        </form>
    </div>
    
</section>

{% endblock %}