{% extends 'partial/base.html' %}

{% block content %}
<section id="themesList">
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Thème</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for theme in themes_list %}
                <tr>
                    <td>{{ theme.theme }}</td>
                    <td>
                        <form action="{% url 'themes_del' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="ident" value="{{ theme.id }}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="." method="post" class="theme-form">
            {% csrf_token %}
            <div class="form-group mx-sm-3 mb-2">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary mb-2">Ajouter</button>
        </form>
    </div>
</section>

{% endblock %}