{% extends 'partial/base.html' %}

{% block content %}
<div class="container formDiv">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taxonModal">
        Sélectionner un taxon existant
      </button>
    <form class="form" method="POST" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="form-group col-3">
                <label for="{{ form.tax.id_for_label }}">Taxon : </label>
                {{ form.tax }}
                <small class="form-text text-muted">{{ form.tax.errors }}</small>
            </div>
            <div class="form-group col-3">
                <label for="{{ form.codesyno.id_for_label }}">Code Synonyme : </label>
                {{ form.codesyno }}
                <small class="form-text text-muted">{{ form.codesyno.errors }}</small>
            </div>
        </div>
        <div class="row">
                <div class="form-group col-3">
                  <label for="{{ form.genre.id_for_label }}">Genre : </label>
                  {{ form.genre }}
                  <small class="form-text text-muted">{{ form.genre.errors }}</small>
                </div>
                <div class="form-group col-3">
                  <label for="{{ form.espece.id_for_label }}">Espèce : </label>
                  {{ form.espece }}
                  <small class="form-text text-muted">{{ form.espece.errors }}</small>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-3">
                  <label for="{{ form.variete.id_for_label }}">Variété : </label>
                  {{ form.variete }}
                  <small class="form-text text-muted">{{ form.variete.errors }}</small>
                </div>
                <div class="form-group col-3">
                  <label for="{{ form.forme.id_for_label }}">Forme : </label>
                  {{ form.forme }}
                  <small class="form-text text-muted">{{ form.forme.errors }}</small>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-3">
                  <label for="{{ form.autorite.id_for_label }}">Autorité : </label>
                  {{ form.autorite }}
                  <small class="form-text text-muted">{{ form.autorite.errors }}</small>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-2">
                  <label for="{{ form.biblio1.id_for_label }}">Bibliographie (1) : </label>
                  {{ form.biblio1 }}
                  <small class="form-text text-muted">{{ form.biblio1.errors }}</small>
                </div>
                <div class="form-group col-2">
                  <label for="{{ form.biblio2.id_for_label }}">Bibliographie (2) : </label>
                  {{ form.biblio2 }}
                  <small class="form-text text-muted">{{ form.biblio2.errors }}</small>
                </div>
                <div class="form-group col-2">
                  <label for="{{ form.biblio3.id_for_label }}">Bibliographie (3) : </label>
                  {{ form.biblio3 }}
                  <small class="form-text text-muted">{{ form.biblio3.errors }}</small>
                </div>
              </div>
              
              <button type="submit" class="btn btn-primary" name="action" value="add">Créer</button>
    </form>
</div>
{% endblock %}

{% block extra %}
<!-- Modal -->
<div class="modal fade" id="taxonModal" tabindex="-1" role="dialog" aria-labelledby="taxonModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="taxonModalLabel">Sélection d'un taxon existant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="." method="post">
                    {% csrf_token %}
                      <div class="row">
                          <div class="form-group col-6">
                              <label for="{{ searchform.genre.id_for_label }}">Genre : </label>
                              {{ searchform.genre }}
                              <small class="form-text text-muted">{{ searchform.genre.errors }}</small>
                          </div>
                          <div class="form-group col-6">
                              <label for="{{ searchform.espece.id_for_label }}">Espèce : </label>
                              {{ searchform.espece }}
                              <small class="form-text text-muted">{{ searchform.espece.errors }}</small>
                          </div>
                      </div>
                
                      <button type="submit" class="btn btn-primary" name="action" value="search">Recherche</button>
                  </form>
              <form action="">
                <select name="prevTax" id="prevTaxSelect" class="chosen-select">
                    {% for item in results %}
                    <option value="{{ item.taxon_id }}">{{ item.taxon_id }} - {{ item.genre }} {{ item.espece }}
                      {% if item.variete and item.variete.strip %} var. {{ item.variete }}{% endif %}
                      {% if item.forme and item.forme.strip %} f. {{ item.forme }}{% endif %}
                    </option>
                    {% endfor %}
                  </select>
                  <button id="taxLinkBtn" class="btn btn-primary">Go</button>
                  {% if results %}
                    <script>
                      $('#taxonModal').modal('show');
                    </script>
                  {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}