{% extends 'partial/base.html' %}
{% load tags_custom %}
{% block custom_style %}
<style>
    #nomValide {
        font-weight: bolder;
        font-size: 1.5em;
        text-decoration: none;
    }
    .fiche {
        font-size: 1.2em;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
        <h1 class="display-4">{{ shroom.taxon_id }} - <i>{{ shroom.genre|capfirst }} {{ shroom.espece|lower }}</i>
            {% if shroom.variete and shroom.variete.strip %}var. <i>{{ shroom.variete|lower }}</i> {% endif %}
            {% if shroom.forme and shroom.forme.strip %}f. <i>{{ shroom.forme|lower }}</i> {% endif %}
            {{ shroom.autorite }}</h1>
        {% for nom in shroom.taxon__noms%}
            <p class="lead">{{ nom }}</p>
        {% endfor %}
        {% if codesyno != 0 %}
            {% for item in others %}
                {% if item.codesyno == 0 %}
                    <p class="lead">Le nom valide est <a href="{% url 'details' id_item=item.id%}" id="nomValide">
                        <i>{{ item.genre|capfirst }} {{ item.espece|lower }}</i>
                        {% if item.variete and item.variete.strip %}var. <i>{{ item.variete|lower }}</i> {% endif %}
                        {% if item.forme and item.forme.strip %}f. <i>{{ item.forme|lower }}</i> {% endif %}
                        {{ item.autorite }}
                    </a></p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <ul>
            {% if shroom.taxon__sms %}
                <li>
                    Ce champignon <b>figure</b> à la SMS
                </li>
            {% else %}
                <li>
                    Ce champignon <b>ne figure pas</b> à la SMS
                </li>
            {% endif %}
            <li>
                {% if shroom.taxon__comestible == 'C' %}
                    Ce champignon est <b>comestible</b>
                {% elif shroom.taxon__comestible == 'NC' %}
                    Ce champignon est <b>non comestible</b>
                {% elif shroom.taxon__comestible == 'T' %}
                    Ce champignon est <b>toxique</b>
                {% elif shroom.taxon__comestible == 'MO' %}
                    Ce champignon est <b>mortel</b>
                {% else %}
                    Aucune information concernant sa comestibilité
                {% endif %}
            </li>
        </ul>
        <p class="fiche">Fiche n° {{ shroom.taxon__fiche }}</p>
        <hr class="my-4">
        <h2>Classification</h2>
        {% if classification %}
        {% for c in classification %}
            <p>{{ c.regne }} > {{ c.embranchement }} > {{ c.classe }} > {{ c.ordre }} > {{ c.famille }}</p>
        {% endfor %}
        {% else %}
        <p>Aucune information concernant la classification</p>
        {% endif %}
        <hr class="my-4">
        <div class="row">
            <div class="col-5">
                <h2>Synonymes</h2>
                <ul>
                    {% for item in others %}
                        {% if item.codesyno != 0 %}
                            <li><a href="{% url 'details' id_item=item.id %}">
                                    <i>{{ item.genre|capfirst }} {{ item.espece|lower }}</i>
                                    {% if item.variete %} var. <i>{{ item.variete|lower }}</i> {% endif %}
                                    {% if item.forme and item.forme.strip %} f. <i>{{ item.forme|lower }}</i> {% endif %}
                                    {{ item.autorite }}
                            </a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-3">
                    <h2>Thèmes</h2>
                    <ul>
                        {% if shroom.taxon__theme1 %}
                            <li>{{ shroom.taxon__theme1 }}</li>
                        {% endif %}
                        {% if shroom.taxon__theme2 %}
                            <li>{{ shroom.taxon__theme2 }}</li>
                        {% endif %}
                        {% if shroom.taxon__theme3 %}
                            <li>{{ shroom.taxon__theme3 }}</li>
                        {% endif %}
                        {% if shroom.taxon__theme4 %}
                            <li>{{ shroom.taxon__theme4 }}</li>
                        {% endif %}
                    </ul>
                </div>
            <div class="col-4">
                <h2>Iconographie</h2>
                <ul>
                    {% if shroom.taxon__icono1 %}
                        <li>{{ shroom.taxon__icono1 }}</li>
                    {% endif %}
                    {% if shroom.taxon__icono2 %}
                        <li>{{ shroom.taxon__icono2 }}</li>
                    {% endif %}
                    {% if shroom.taxon__icono3 %}
                        <li>{{ shroom.taxon__icono3 }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-5">
                <h2>Ecologie</h2>
                <div class="pre">{{ shroom.taxon__ecologie }}</div>
                <h2>Notes</h2>
                <div class="pre">{{ shroom.taxon__notes }}</div>
            </div>
            <div class="col-3">

            </div>
            <div class="col-4">
                <h2>Bibliographie</h2>
                <ul>
                    {% if shroom.biblio1 %}
                        <li>{{ shroom.biblio1 }}</li>
                    {% endif %}
                    {% if shroom.biblio2 %}
                        <li>{{ shroom.biblio2 }}</li>
                    {% endif %}
                    {% if shroom.biblio3 %}
                        <li>{{ shroom.biblio3 }}</li>
                    {% endif %}
                </ul>
                <h2>Date de dernière révision</h2>
                {{ shroom.date }}
            </div>
        </div>
      </div>
      {% if request.user|has_group:"Administrateurs" %}
      <div class="container fiches">
        <h1>Génération de fiches</h1>
        <a href="{% url 'sendfile' tax=shroom.taxon_id type_fiche="systematique" %}" class="btn btn-warning">Générer une fiche systématique</a>
        {% if shroom.taxon__theme1 %}
        <a href="{% url 'sendfile' tax=shroom.taxon_id type_fiche=shroom.taxon__theme1 %}" class="btn btn-secondary">Générer une fiche thématique {{shroom.taxon__theme1}}</a>
        {% endif %}
        {% if shroom.taxon__theme2 %}
        <a href="{% url 'sendfile' tax=shroom.taxon_id type_fiche=shroom.taxon__theme2 %}" class="btn btn-secondary">Générer une fiche thématique {{shroom.taxon__theme2}}</a>
        {% endif %}
        {% if shroom.taxon__theme3 %}
        <a href="{% url 'sendfile' tax=shroom.taxon_id type_fiche=shroom.taxon__theme3 %}" class="btn btn-secondary">Générer une fiche thématique {{shroom.taxon__theme3}}</a>
        {% endif %}
        {% if shroom.taxon__theme4 %}
        <a href="{% url 'sendfile' tax=shroom.taxon_id type_fiche=shroom.taxon__theme4 %}" class="btn btn-secondary">Générer une fiche thématique {{shroom.taxon__theme4}}</a>
        {% endif %}
      </div>
      {% endif %}
{% endblock %}