{% extends 'partial/base.html' %}
{% load tags_custom %}
{% block custom_style %}
<style>
    #nomValide {
        font-weight: bolder;
        font-size: 1.5em;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
        <h1 class="display-4">{{ shroom.taxon_id }} - {{ shroom.genre }} {{ shroom.espece }}</h1>
        {% for nom in shroom.taxon__noms%}
            <p class="lead">{{ nom }}</p>
        {% endfor %}
        {% if codesyno != 0 %}
            {% for item in others %}
                {% if item.codesyno == 0 %}
                    <p class="lead">Aussi connu sous le nom de <a href="{% url 'details' id_item=item.id%}" id="nomValide">{{ item.genre }} {{ item.espece }}</a></p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <ul>
            {% if shroom.taxon__sms %}
                <li>
                    Ce champignon est présent à la SMS
                </li>
            {% endif %}
            <li>
                {% if shroom.taxon__comestible == 'C' %}
                    Ce champignon est <b>comestible</b>
                {% elif shroom.taxon__comestible == 'NC' %}
                    Ce champignon est <b>non comestible</b>
                {% elif shroom.taxon__comestible == 'T' %}
                    Ce champignon est <b>toxique</b>
                {% elif shroom.taxon__comestible == 'M' %}
                    Ce champignon est <b>mortel</b>
                {% else %}
                    Aucune information concernant sa comestibilité
                {% endif %}
            </li>
        </ul>
        {% if shroom.variete %} 
            <p class="lead">Variété : {{ shroom.variete }}</p>
        {% endif %}
        {% if shroom.forme %}
            <p class="lead">Forme : {{ shroom.forme }}</p>
        {% endif %}
        <hr class="my-4">
        <div class="row">
            <div class="col-6">
                <h2>Synonymes</h2>
                <ul>
                    {% for item in others %}
                        {% if item.codesyno != 0 %}
                            <li><a href="{% url 'details' id_item=item.id %}">{{ item.genre }} {{ item.espece }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-6">
                    <h2>Thèmes</h2>
                    <ul>
                        {% if shroom.taxon__theme1 %}
                            <li>{{ shroom.taxon__theme1 }}</li>
                        {% endif %}
                        {% if shroom.taxon__theme2 %}
                            <li>{{ shroom.taxon__theme2 }}</li>
                        {% endif %}
                        {% if shroom.taxon__theme3 %}
                            <li>{{ shroom.taxon__theme3 }}</li>
                        {% endif %}
                        {% if shroom.taxon__theme4 %}
                            <li>{{ shroom.taxon__theme4 }}</li>
                        {% endif %}
                    </ul>
                </div>
        </div>
      </div>
      {% if request.user|has_group:"Administrateurs" %}
      <div class="container">
          <a href="{% url 'sendfile' tax=shroom.taxon_id type="classique" %}" class="btn btn-warning">Générer une fiche classique</a>
          <a href="{% url 'sendfile' tax=shroom.taxon_id type="theme" %}" class="btn btn-secondary">Générer une fiche thématique</a>
      </div>
      {% endif %}
{% endblock %}