{% extends 'partial/base.html' %}

{% block content %}
    <section>
            <div class="jumbotron">
                <h1 class="display-4">SIMAGREE</h1>
                <p class="lead">Système d'Information Mycologique : Aide à la Gestion des REcoltes et des Expositions</p>
                <hr class="my-4">
                <p>Application dédiée à la Société Mycologique de Strasbourg</p>
                <a class="btn btn-primary btn-lg" href="http://mycostra.free.fr" role="button">Site de l'association</a>
            </div>
            <div class="container presentation">
                <div>
                    <h1>Que permet de faire SIMAGREE ?</h1>
                </div>
                <div class="row">
                            <div class="col">
                                <h3>Base de donnée mycologique</h3>
                                <hr>
                                <p>Accessible à tout moment, la base de donnée gérée par la Société Mycologique de Strasbourg regroupe des informations sur des milliers de champignons</p>
                            </div>
                            <div class="col">
                                <h3>Création de fiches informatives</h3>
                                <hr>
                                <p>Générez des fiches contenant les informations principales sur les champignons choisis</p>
                            </div>
                            <div class="col">
                                <h3>Création de listes de récoltes</h3>
                                <hr>
                                <p>Gérez vos récoltes facilement grâce à la base de données</p>
                            </div>
                        </div>
                </div>
            </div>
    </section>
{% endblock %}