{% extends 'partial/base.html' %}

{% block content %}
<div class="container imp-exp">
    <h1>Importer des fichiers CSV</h1>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
            
              <div class="form-group col-4">
                <label for="{{ form.csv_id.id_for_label }}">Fichier <b>Identifiants</b> : </label><br>
                {{ form.csv_id }}
                <small class="form-text text-muted">{{ form.csv_id.errors }}</small>
              </div>
              <div class="form-group col-4">
                <label for="{{ form.csv_id.id_for_label }}">Fichier <b>Nomenclature</b> : </label><br>
                {{ form.csv_nom }}
                <small class="form-text text-muted">{{ form.csv_nom.errors }}</small>
              
            </div>
            
        <button type="submit" class="btn btn-warning">Importer</button>
    </form>
</div>

<div class="container imp-exp">
    <h1>Exporter la base en CSV</h1>
    <a href="{% url 'export-ident' %}" class="btn btn-primary">Table Identifiants</a>
    <a href="{% url 'export-nomenc' %}" class="btn btn-success">Table Nomenclature</a>
</div>

{% endblock %}