{% extends 'partial/base.html' %}

{% block custom_style %}
<style>
    select {
        width: 100%;
    } 
    .box1, .box2 {
        margin-top : 30px;
        margin-bottom: 30px;
    }
    .listForm {
        margin-top: 30px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container listForm">
    {{ searchform }}
    {{ listeform }}
    <script>
            $(document).ready(() => {
                $('select[name="taxons"]').bootstrapDualListbox();
                $('#datepicker').datepicker({
                    'format' : 'dd/mm/yyyy'
                });
            })
        </script>
</div>
{% endblock %}