{% extends 'partial/base.html' %}

{% block content %}
<div class="container infos">
    <h1>Edition du taxon {{ shrooms.0.taxon }}</h1>
    <ul>
      {% for item in shrooms %}
        {% if item.codesyno == 0 %}
        <li><b><i>{{ item.genre|capfirst }} {{ item.espece|lower }}</i>
            {% if item.variete and item.variete.strip %} var. <i>{{ item.variete|lower }}</i>{% endif %}
            {% if item.forme and item.forme.strip %} f. <i>{{ item.forme|lower }}</i>{% endif %}
             {{ item.autorite }}</b>
          </li>
        {% else %}
        <li><i>{{ item.genre|capfirst }} {{ item.espece|lower }}</i>
          {% if item.variete and item.variete.strip %} var. <i>{{ item.variete|lower }}</i>{% endif %}
          {% if item.forme and item.forme.strip %} f. <i>{{ item.forme|lower }}</i>{% endif %}
            {{ item.autorite }}
        </li>
        {% endif %}
      {% endfor %}
    
    </ul>
  </div>
<div class="container formDiv">
        <form class="form-horizontal" method="POST" action=".">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                  <div class="form-group col-3">
                    <label for="{{ form.taxon.id_for_label }}">Taxon : </label>
                    {{ form.taxon }}
                    <small class="form-text text-muted">{{ form.taxon.errors }}</small>
                  </div>
                  <div class="form-group col-3">
                    <label for="{{ form.fiche.id_for_label }}">Fiche : </label>
                    {{ form.fiche }}
                    <small class="form-text text-muted">{{ form.fiche.errors }}</small>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-9">
                    <label for="{{ form.noms.id_for_label }}">Noms : </label>
                    {{ form.noms }}
                    <small class="form-text text-muted">{{ form.noms.errors }}</small>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-3">
                    <label for="{{ form.comestible.id_for_label }}">Comestibilité : </label>
                    {{ form.comestible }}
                    <small class="form-text text-muted">{{ form.comestible.errors }}</small>
                  </div>
                  <div class="form-group col-3">
                    <label for="{{ form.sms.id_for_label }}">Présent à la SMS : </label>
                    {{ form.sms }}
                    <small class="form-text text-muted">{{ form.sms.errors }}</small>
                  </div>
                  <div class="form-group col-3">
                    <label for="{{ form.a_imprimer.id_for_label }}">A imprimer : </label>
                    {{ form.a_imprimer }}
                    <small class="form-text text-muted">{{ form.a_imprimer.errors }}</small>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-3">
                    <label for="{{ form.apparition.id_for_label }}">Apparition : </label>
                    {{ form.apparition }}
                    <small class="form-text text-muted">{{ form.apparition.errors }}</small>
                  </div>
                  <div class="form-group col-3">
                    <label for="{{ form.ecologie.id_for_label }}">Ecologie : </label>
                    {{ form.ecologie }}
                    <small class="form-text text-muted">{{ form.ecologie.errors }}</small>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <label for="{{ form.notes.id_for_label }}">Notes : </label>
                    {{ form.notes }}
                    <small class="form-text text-muted">{{ form.notes.errors }}</small>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-3">
                    <label for="{{ form.icono1.id_for_label }}">Iconographie (1) : </label>
                    {{ form.icono1 }}
                    <small class="form-text text-muted">{{ form.icono1.errors }}</small>
                  </div>
                  <div class="form-group col-3">
                    <label for="{{ form.icono2.id_for_label }}">Iconographie (2) : </label>
                    {{ form.icono2 }}
                    <small class="form-text text-muted">{{ form.icono2.errors }}</small>
                  </div>
                  <div class="form-group col-3">
                    <label for="{{ form.icono3.id_for_label }}">Iconographie (3) : </label>
                    {{ form.icono3 }}
                    <small class="form-text text-muted">{{ form.icono3.errors }}</small>
                  </div>
                </div>
                {{form.theme1}}
                {{form.theme2}}
                {{form.theme3}}
                {{form.theme4}}

                <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
</div>
{% endblock %}