{% extends 'partial/base.html' %}
{% block content %}
<div class="container infos">
        <h1>Edition du taxon {{ shrooms.0.taxon }}</h1>
        <ul>
          {% for item in shrooms %}
            {% if item.codesyno == 0 %}
            <li><b><i>{{ item.genre|capfirst }} {{ item.espece|lower }}</i>
                {% if item.variete and item.variete.strip %} var. <i>{{ item.variete|lower }}</i>{% endif %}
                {% if item.forme and item.forme.strip %} f. <i>{{ item.forme|lower }}</i>{% endif %}
                 {{ item.autorite }}</b>
              </li>
            {% else %}
            <li><i>{{ item.genre|capfirst }} {{ item.espece|lower }}</i>
              {% if item.variete and item.variete.strip %} var. <i>{{ item.variete|lower }}</i>{% endif %}
              {% if item.forme and item.forme.strip %} f. <i>{{ item.forme|lower }}</i>{% endif %}
                {{ item.autorite }}
            </li>
            {% endif %}
          {% endfor %}
        
        </ul>
</div>

<div class="container formDiv">
    <form action="" class="form-horizontal" method="POST">
        {% csrf_token %}
            <div class="row">
            <div class="form-group col-4">
                <label for="{{ form.notes.id_for_label }}">Notes : </label>
                {{ form.notes }}
                <small class="form-text text-muted">{{ form.notes.errors }}</small>
            </div>
            <div class="form-group col-4">
                <label for="{{ form.ecologie.id_for_label }}">Ecologie : </label>
                {{ form.ecologie }}
                <small class="form-text text-muted">{{ form.ecologie.errors }}</small>
            </div>
            </div>
            <div class="row">
                    <div class="form-group col-2">
                        <label for="{{ form.theme1.id_for_label }}">Thème (1) : </label>
                        {{ form.theme1 }}
                        <small class="form-text text-muted">{{ form.theme1.errors }}</small>
                      </div>
                    <div class="form-group col-2">
                        <label for="{{ form.theme2.id_for_label }}">Thème (2) : </label>
                        {{ form.theme2 }}
                        <small class="form-text text-muted">{{ form.theme2.errors }}</small>
                      </div>
                      <div class="form-group col-2">
                          <label for="{{ form.theme3.id_for_label }}">Thème (3) : </label>
                          {{ form.theme3 }}
                          <small class="form-text text-muted">{{ form.theme3.errors }}</small>
                        </div>
                        <div class="form-group col-2">
                            <label for="{{ form.theme4.id_for_label }}">Thème (4) : </label>
                            {{ form.theme4 }}
                            <small class="form-text text-muted">{{ form.theme4.errors }}</small>
                          </div>
                </div>
            <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>
{% endblock %}