{% extends 'partial/base.html' %}

{% block content %}
    <section>
        <div class="container-fluid searchForm">
            <form action="/search/" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Recherche</button>
            </form>
        </div>
    </section>

    <section id="searchResults">
        <h3>Nombre de résultats : {{shrooms|length}}</h3>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Taxon</th>
                        <th>Espèce</th>
                        <th>Variété</th>
                        <th>Genre</th>
                        <th>Forme</th>
                        <th>Noms usuels</th>
                        <th>Comestible</th>
                        <th>Présent à la SMS</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in shrooms %}
                    <tr>
                    <td><a href="{% url 'details' tax=obj.taxon_id%}">{{ obj.taxon_id }}</a></td>
                    <td>{{ obj.genre }}</td>
                    <td>{{ obj.espece }}</td>
                    <td>{{ obj.variete }}</td>
                    <td>{{ obj.forme }}</td>
                    <td>{{ obj.taxon__noms }}</td>
                    <td>{{ obj.taxon__comestible }}</td>
                    <td>
                        {% if obj.taxon__sms %}
                        Oui
                        {% else %}
                        Non
                        {% endif %}
                    </td>
                    <td><a href="#">Modifier</a>
                    <a href="#">Supprimer</a></td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}