{% extends 'partial/base.html' %}
{% load tags_custom %}

{% block content %}
    <section>
        <div class="container-fluid searchForm">
            <form action="/search/" method="GET">
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="form-group col-2">
                        <label for="{{ form.taxon.id_for_label }}">N° Taxon</label>
                        {{ form.taxon }}
                        <small class="form-text text-muted">{{ form.taxon.errors }}</small>
                    </div>
                    <div class="form-group col-2">
                        <label for="{{ form.genre.id_for_label }}">Genre</label>
                        {{ form.genre }}
                        <small class="form-text text-muted">{{ form.genre.errors }}</small>
                    </div>
                    <div class="form-group col-2">
                        <label for="{{ form.espece.id_for_label }}">Espèce</label>
                        {{ form.espece }}
                        <small class="form-text text-muted">{{ form.espece.errors }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        <label for="{{ form.comestible.id_for_label }}">Comestibilité</label>
                        {{ form.comestible }}
                        <small class="form-text text-muted">{{ form.comestible.errors }}</small>
                    </div>
                    <div class="form-group col-2">
                        <label for="{{ form.nomUsuel.id_for_label }}">Nom vernaculaire</label>
                        {{ form.nomUsuel }}
                        <small class="form-text text-muted">{{ form.nomUsuel.errors }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        <label for="{{ form.presentSms.id_for_label }}">Présent à la SMS uniquement</label>
                        {{ form.presentSms }}
                        <small class="form-text text-muted">{{ form.presentSms.errors }}</small>
                    </div>
                    <div class="form-group col-2">
                        <label for="{{ form.displaySyno.id_for_label }}">Afficher les synonymes</label>
                        {{ form.displaySyno }}
                        <small class="form-text text-muted">{{ form.displaySyno.errors }}</small>
                    </div>
                    {% if request.user|has_group:"Administrateurs" %}
                    <div class="form-group col-2">
                        <label for="{{ form.a_imprimer.id_for_label }}">A imprimer</label>
                        {{ form.a_imprimer }}
                        <small class="form-text text-muted">{{ form.a_imprimer.errors }}</small>
                    </div>
                    {% endif %}
                </div>
                <input type="hidden" name="page" value="1">

                <button type="submit" class="btn btn-primary">Recherche</button>
            </form>
        </div>
    </section>

    <section id="searchResults">
        <h3>Nombre de résultats : {{total}}</h3>
        <div class="container-fluid">
            <table>
                <thead>
                    <tr>
                        <th>Taxon</th>
                        <th>Genre</th>
                        <th>Espèce</th>
                        <th>Variété</th>
                        <th>Forme</th>
                        <th>Autorité</th>
                        <th>Statut</th>
                        <th>Noms vernaculaires</th>
                        <th>Comestible</th>
                        <th>Présent à la SMS</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in shrooms %}
                    <tr>
                    <td><a href="{% url 'details' id_item=obj.id %}">{{ obj.taxon_id }}</a></td>
                    <td>{{ obj.genre|capfirst }}</td>
                    <td>{{ obj.espece|lower }}</td>
                    <td>{{ obj.variete }}</td>
                    <td>{{ obj.forme }}</td>
                    <td>{{ obj.autorite }}</td>
                    {% if obj.codesyno == 0 %}
                    <td>VALIDE</td>
                    {% elif obj.codesyno == 3 %}
                    <td>SYN USUEL</td>
                    {% else %}
                    <td>SYN</td>
                    {% endif %}
                    <td>{{ obj.taxon__noms }}</td>
                    <td>{{ obj.taxon__comestible }}</td>
                    {% if obj.taxon__sms %}
                    <td>Oui</td>
                    {% else %}
                    <td>Non</td>
                    {% endif %}
                    <td>
                    <div class="btn-group">
                            <button class="btn btn-info">Action</button>
                            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'modify-tax' tax=obj.taxon_id %}">Modifier le taxon</a>
                            <a class="dropdown-item" href="{% url 'modify' id=obj.id %}">Modifier la nomenclature</a>
                            <div class="dropdown-divider"></div>
                            <form action="{% url 'delete' %}" method="post" id="delEspForm{{obj.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                <input type="hidden" name="ident" value="{{ obj.id }}">
                                <button type="submit" class="dropdown-item" id="delEspBtn{{ obj.id }}">Supprimer la nomenclature</button>
                            </form>
                            <form action="{% url 'delete-tax' %}" method="post" id="delTaxForm{{obj.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                <input type="hidden" name="taxon" value="{{ obj.taxon_id }}">
                                <button type="submit" class="dropdown-item" id="delTaxBtn{{ obj.id }}">Supprimer le taxon</button>
                            </form>
                        </div>
                    </td>
                    <script>
                            $(document).ready(() => {
                                $('#delEspForm{{obj.id}}').on('submit', (e) => {
                                    {% if obj.codesyno == 0 %}
                                        e.preventDefault();
                                        alert("Impossible de supprimer {{ obj.genre }} {{ obj.espece }} car il s'agit du nom valide");
                                    {% else %}
                                    return confirm("Voulez-vous vraiment supprimer {{ obj.genre }} {{ obj.espece }} ?");
                                    {% endif %}
                                });
                                $('#delTaxForm{{obj.id}}').on('submit', (e) => {
                                    return confirm("Voulez-vous vraiment supprimer {{ obj.genre }} {{ obj.espece }} ainsi que tous les synonymes correspondants ??");
                                });
                            });
                        </script>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pages">
                {% for p in pages %}
                    {% if p == request.GET.page|add:"0" %}
                        <a href="{% url 'search' %}?{{ request.GET.urlencode }}" class="btn btn-warning btn-page-{{p}}">{{ p }}</a>
                    {% else %}
                        <a href="{% url 'search' %}?{{ request.GET.urlencode }}" class="btn btn-primary btn-page-{{p}}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
            {% if pages_int %}
            <script>
                $(document).ready(() => {
                    var pages = {{ pages_int|safe }};
                    for (let i = 1; i <= pages; i++) {
                        let oldval = $(`.btn-page-${i}`).attr('href');
                        $(`.btn-page-${i}`).attr('href', oldval.replace(/page=[0-9]+/i,`page=${i}`));
                    }
                });
            </script>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block extra %}
{% endblock %}