<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/less" media="screen" href="assets/master.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.4/less.js"></script>
    <script src="assets/master.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">SIMAGREE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.html">Recherche</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Modifier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">A propos</a>
                    </li>
                    </ul>
                </div>
                </nav>
    </header>

    <section>
            <div class="jumbotron">
                <h1 class="display-4">SIMAGREE</h1>
                <p class="lead">Système d'Information Mycologique : Aide à la Gestion des REcoltes et des Expositions</p>
                <hr class="my-4">
                <p>Application dédiée à la Société Mycologique de Strasbourg</p>
                <a class="btn btn-primary btn-lg" href="http://mycostra.free.fr" role="button">Site de l'association</a>
            </div>
            <div class="container presentation">
                <div>
                    <h1>Que permet de faire SIMAGREE ?</h1>
                </div>
                <div class="row">
                            <div class="col">
                                <h3>Base de donnée mycologique</h3>
                                <hr>
                                <p>Accessible à tout moment, la base de donnée gérée par la Société Mycologique de Strasbourg regroupe des informations sur des milliers de champignons</p>
                            </div>
                            <div class="col">
                                <h3>Création de fiches informatives</h3>
                                <hr>
                                <p>Générez des fiches contenant les informations principales sur les champignons choisis</p>
                            </div>
                            <div class="col">
                                <h3>Création de fiches de récolutes</h3>
                                <hr>
                                <p>Gérez vos récoltes facilement grâce à la base de données</p>
                            </div>
                        </div>
                </div>
            </div>
    </section>
    
</body>
</html>