<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/less" media="screen" href="assets/master.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.4/less.js"></script>
    <script src="assets/master.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">SIMAGREE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="search.html">Recherche</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Modifier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">A propos</a>
                    </li>
                    </ul>
                </div>
                </nav>
    </header>

    <section>
        <div class="container-fluid searchForm">
                <form method="POST">
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="nomUsuel">Nom usuel</label>
                            <input type="text" class="form-control" id="nomUsuel" placeholder="Nom">
                          </div>
                          <div class="form-group col-md-2">
                              <label for="comestible">Comestibilité</label>
                              <select id="comestible" class="form-control">
                                  <option value="all" selected>Non renseigné</option>
                                  <option value="oui">Oui</option>
                                  <option value="non">Non</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="genre">Genre</label>
                                <input type="text" class="form-control" id="genre" placeholder="Genre">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="espece">Espèce</label>
                                <input type="text" class="form-control" id="espece" placeholder="Espèce">
                                </div>
                            </div>
                          <div class="form-group col-md-6">
                                <input class="form-check-input" type="checkbox" id="presentSms">
                                <label class="form-check-label" for="presentSms">
                                    Afficher uniquement les champignons présents à la SMS
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-check-input" type="checkbox" id="displaySyno">
                                <label class="form-check-label" for="displaySyno">
                                    Afficher les synonymes
                                </label>
                            </div>
    
                        <button type="submit" class="btn btn-primary">Recherche</button>
                      </form>
        </div>
    </section>

    <section id="searchResults">
        <h3>Nombre de résultats : 404</h3>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Taxon</th>
                        <th>Noms usuels</th>
                        <th>Genre</th>
                        <th>Espèce</th>
                        <th>Comestible</th>
                        <th>Présent à la SMS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>404</td>
                        <td>Foobar</td>
                        <td>Fooescens</td>
                        <td>Barinata</td>
                        <td>Toxique</td>
                        <td>Non</td>
                    </tr>
                    <tr>
                        <td>404</td>
                        <td>Foobar</td>
                        <td>Fooescens</td>
                        <td>Barinata</td>
                        <td>Toxique</td>
                        <td>Non</td>
                    </tr>
                    <tr>
                        <td>404</td>
                        <td>Foobar</td>
                        <td>Fooescens</td>
                        <td>Barinata</td>
                        <td>Toxique</td>
                        <td>Non</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    
</body>
</html>