{% load staticfiles %}
{% load tags_custom %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SIMAGREE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/less" media="screen" href="{% static 'css/master.less' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.4/less.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/chosen_v1/chosen.min.css' %}">
    <script src="{% static 'js/chosen_v1/chosen.jquery.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/dual_select_boxes/dist/bootstrap-duallistbox.css' %}">
    <script src="{% static 'js/dual_select_boxes/src/jquery.bootstrap-duallistbox.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/datepicker-master/dist/datepicker.min.css' %}">
    <script src="{% static 'js/datepicker-master/dist/datepicker.min.js' %}"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">SIMAGREE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'search' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'search' %}">Recherche</a>
                    </li>
                   {% if request.user|has_group:"Administrateurs" %} 
                    <li class="nav-item dropdown {% if request.resolver_match.url_name == 'add' %}active{% endif %} {% if request.resolver_match.url_name == 'addPart' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Ajouter
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'add' %}">Ajout complet</a>
                          <a class="dropdown-item" href="{% url 'addPart' %}">Ajout nomenclature</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'themes' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'themes' %}">Thèmes</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'imp-exp' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'imp-exp' %}">Importer / Exporter</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item {% if request.resolver_match.url_name == 'showLists' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'showLists' %}">Récoltes</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">A propos</a>
                    </li>
                    </ul>
                    <div class="my-2 my-lg-0 navLogin">
                        {% if request.user.is_authenticated %}
                            <p>Bienvenue, {{ request.user.username }}</p>
                            <a href="{% url 'logout' %}" class="btn btn-danger">Déconnexion</a>
                        {% else %}
                            <p>Vous n'êtes pas connecté</p>
                            <a href="{% url 'login' %}" class="btn btn-success">Connexion</a>
                        {% endif %}

                    </div>
                </div>
                </nav>
    </header>
    {% block custom_style %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block extra %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/master.js' %}"></script>
    {% if request.resolver_match.url_name == 'add' or request.resolver_match.url_name == 'addPart' %}
    <script type="text/javascript" src="{% static 'js/generateTaxon.js' %}"></script>
    {% endif %}
</body>
</html>